$primary-dark-color: #2e2e2edf;
$secondary-dark-color:#53525232;
$primary-light-color: #ffffff;
$primary-btn-color: #e8b5ce;
$secondary-color: #79c753;
$error-color: #E30700;

$main-silver-color: #c5c5c591;
$modal-background-color: #2e2e2e83;
$primary-font-stack: "Work Sans", sans-serif;
