.id-search-form {
    padding: 20px;
  }
  .users-id-container {
    height: 275px;
    width: 325px;
  }
  
  .id-search-form input {
    margin-right: 12px;
    padding: 4px;
    outline: 0;
    border: 0;
    color: #263238;
    font-size: 18px;
    background-color: transparent;
    border-bottom: 2px solid;
    border-color: #ff2d55;
  }
  
  .invalid-form {
    color: #ff4400;
  }
  .invalid-form ::placeholder {
    color: #ff4400;
  }
  
  p {
    font-size: 18px;
  }